argcomplete==1.11.1
atomicwrites==1.4.0
boto3==1.13.3
botocore==1.16.3
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==6.7
commonmark==0.9.1
configparser==3.5.0
coverage==5.1
crc32c==2.0
cryptography==2.9.2
dcplib==2.1.2
docutils==0.15.2
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Cors==3.0.3
google-auth==1.14.1
google-auth-oauthlib==0.4.1
gunicorn==20.0.4
hca==7.0.1
hca-ingest==0.6.8
idna==2.7
importlib-metadata==1.6.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.9.5
jsonpointer==1.14
jsonref==0.2
jsonschema==2.6.0
MarkupSafe==1.1.1
nose==1.3.7
oauthlib==3.1.0
openpyxl==2.6.2
pika==0.11.2
polling==0.3.1
puremagic==1.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==1.7.1
python-dateutil==2.8.1
PyYAML==5.4
requests==2.20.0
requests-oauthlib==1.3.0
rsa==4.0
s3transfer==0.3.3
six==1.14.0
tenacity==5.0.4
tqdm==4.46.0
tweak==1.0.3
urllib3==1.24.3
Werkzeug==1.0.1
XlsxWriter==1.2.8
zipp==3.1.0
